.smoke{
    position: fixed;
    z-index: 50;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.menu{
    position: fixed;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    max-width: 28rem;
    vertical-align: top;
    margin: auto;
    justify-content: flex-end;
    padding: 2rem;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.menu:md{
    position: relative;
    border-radius: 0.25rem;
    height: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.CloseIcon{
    cursor: pointer;
    color: #718096;
    fill: currentColor;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    position: absolute;
    right: 0;
    position: absolute;
    top: 0;
}

.button_container{
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.button{
    background-color: #4299e1;
    font-size: 1.125rem;
    color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    border-radius: 9999px;
    width: 100%;
    
}

.button:hover{
    background-color: transparent;
    color: #2b6cb0;
    border-color: transparent;
}

.DeleteButton{
    background-color: #f56565;
    font-size: 1.125rem;
    color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    border-radius: 9999px;
    width: 100%;
    
}

.DeleteButton:hover{
    background-color: transparent;
    color: #c53030;
    border-color: transparent;
}